.main-section {
    &__container {
       background-color: red;
    }

    &__articles {
       background-color: blue;
       display: flex;
       align-content: center;
       flex-wrap: wrap;
    }

    &__item {
        background-color: yellow;
        display: inline-block;
        &:first-child {
            width: 100%;
            background-color: green;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &:not(:first-child) {
            flex: 1;
            background-color: orange;
            margin-top: 40px;
            margin-right: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        

       // &--main //
    }
}

.imagem {
    width: 250px;
    height: 250px;
}

.texto {
   width: 100%;
   height: 100vh;
}