// Sizes
$xxs: rem(8px);
$xs: rem(12px);
$s: rem(16px);
$m: rem(24px);
$l: rem(32px);
$xl: rem(64px);
$xxl: rem(88px);
$big: rem(126px);
$default-container: rem(1440px);
// Sizes

// Colors
$white: #f0f0f0;
$neutral-01: #bebebe;
$neutral-02: #969696;
$black: #333333;
$brand: #e51b15;
// Colors

// Breakpoints

$breakpoint-phone: 769px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1440px;
$breakpoint-desktop: 1921px;

//Breakpoint
